*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

@font-face {
	font-family: 'YSText';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/YandexSansText-Medium.woff') format('woff'),
		url('../fonts/YandexSansText-Medium.woff2') format('woff2'),
		url('../fonts/YandexSansText-Medium.ttf') format('truetype');
}

html,
body {
	line-height: 1;
	font-size: 16px;
	min-width: 320px;
	color: #000000;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
}

.banner-container {
	width: 300px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #edf6ff;
	-webkit-filter: drop-shadow(2px 4px 6px #000000);
	filter: drop-shadow(2px 4px 6px #000000);
	-webkit-animation: opacity 1.2s ease-out;
	animation: opacity 1.2s ease-out;
}

.store-shelf-wrapper {
	width: 211.37px;
	height: 431.35px;
	background: url(../img/store-shelf.svg) no-repeat center;
	-webkit-filter: drop-shadow(2px 4px 6px #000000);
	filter: drop-shadow(2px 4px 6px #000000);
	position: relative;
	-webkit-animation: move-store-shelf 0.7s ease-in-out;
	animation: move-store-shelf 0.7s ease-in-out;
}

.item:hover {
	cursor: -webkit-grab;
	cursor: grab;
}

.cart {
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	position: absolute;
	bottom: 0;
	width: 277px;
	height: 229px;
	-webkit-animation: move-general 0.9s ease-out;
	animation: move-general 0.9s ease-out;
}

.cart .cart-image {
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
	margin: auto;
}

.cart-hovered {
	-webkit-filter: drop-shadow(1px 1px 1px #000000);
	filter: drop-shadow(1px 1px 1px #000000);
}

.item-hold {
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
}

.item-hide {
	display: none;
}

.grape-juice,
.milk,
.jam,
.cheese,
.beef-steak,
.chicken,
.chips,
.pineapple,
.banana,
.apple,
.lettuce-leaf {
	position: absolute;
}

.store-shelf-wrapper .grape-juice {
	width: 37px;
	height: 124.12px;
	top: -3px;
	left: 22px;
}

.cart .grape-juice {
	width: 45px;
	height: 144.12px;
	top: 31px !important;
	left: 55px !important;
	transform: rotate(345deg);
	-ms-transform: rotate(345deg);
	-webkit-transform: rotate(345deg);
}

.store-shelf-wrapper .milk {
	width: 37px;
	height: 90.73px;
	top: 31px;
	left: 64px;
}

.cart .milk {
	z-index: 8;
	width: 54.19px;
	height: 132.89px;
	top: 49px !important;
	left: 72px !important;
	-ms-transform: rotate(359deg);
	transform: rotate(359deg);
	-webkit-transform: rotate(359deg);
}

.store-shelf-wrapper .jam {
	width: 46px;
	height: 41.34px;
	top: 80px;
	left: 103px;
}

.cart .jam {
	z-index: 8;
	width: 49px;
	height: 44.34px;
	top: 59px !important;
	left: 140px !important;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
}

.store-shelf-wrapper .cheese {
	width: 36.2px;
	height: 34.38px;
	top: 89px;
	left: 158px;
}

.cart .cheese {
	z-index: 9;
	width: 46.2px;
	height: 44.38px;
	top: 144px !important;
	left: 70px !important;
	transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}

.store-shelf-wrapper .beef-steak {
	width: 54px;
	height: 53.76px;
	top: 167px;
	left: 7px;
}

.cart .beef-steak {
	z-index: 3;
	width: 85px;
	height: 56.76px;
	top: 120px !important;
	left: 203px !important;
	transform: rotate(-29deg);
	-ms-transform: rotate(-29deg);
	-webkit-transform: rotate(-29deg);
}

.store-shelf-wrapper .chicken {
	width: 66px;
	height: 62.85px;
	top: 169px;
	left: 58px;
	transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
}

.cart .chicken {
	width: 74.47px;
	height: 69.85px;
	left: 191px !important;
	top: 65px !important;
	transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
}

.store-shelf-wrapper .chips {
	width: 76.17px;
	height: 46.98px;
	top: 176px;
	left: 129px;
}

.cart .chips {
	z-index: 8;
	width: 96.17px;
	height: 66.98px;
	top: 80px !important;
	left: 110px !important;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
}

.store-shelf-wrapper .pineapple {
	width: 35px;
	height: 74.08px;
	top: 237px;
	left: 13px;
}

.cart .pineapple {
	z-index: 9;
	width: 50.03px;
	height: 105.89px;
	top: 69px !important;
	left: 164px !important;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
}

.store-shelf-wrapper .banana {
	width: 47px;
	height: 47.41px;
	top: 265px;
	left: 58px;
}

.cart .banana {
	z-index: 10;
	width: 71px;
	height: 71.62px;
	top: 110px !important;
	left: 110px !important;
	transform: rotate(336deg);
	-ms-transform: rotate(336deg);
	-webkit-transform: rotate(336deg);
}

.store-shelf-wrapper .apple {
	width: 31px;
	height: 35.99px;
	top: 276px;
	left: 115px;
}

.cart .apple {
	z-index: 8;
	width: 41px;
	height: 45.99px;
	top: 55px !important;
	left: 175px !important;
	transform: rotate(-17deg);
	-ms-transform: rotate(-17deg);
	-webkit-transform: rotate(-17deg);
}

.store-shelf-wrapper .lettuce-leaf {
	width: 61.74px;
	height: 50.98px;
	top: 267px;
	left: 156px;
}

.cart .lettuce-leaf {
	width: 91.74px;
	height: 80.98px;
	top: 42px !important;
	left: 100px !important;
	transform: rotate(-67deg);
	-ms-transform: rotate(-67deg);
	-webkit-transform: rotate(-67deg);
}

.wrapper-payment-btn {
	visibility: hidden;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	position: absolute;
	bottom: 20px;
	z-index: 100;
}

.wrapper-payment-btn-active {
	visibility: visible;
	-webkit-animation: move-general 0.8s ease-out;
	animation: move-general 0.8s ease-out;
}

.payment-btn {
	width: 174px;
	height: 56px;
	border-radius: 16px;
	background-color: #fce000;
	-webkit-box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
	color: #21201f;
	font-weight: 500;
	line-height: 17px;
	font-family: 'YSText';
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

.payment-btn:hover {
	background-color: #e0a81a;
}

@-webkit-keyframes move-store-shelf {
	from {
		transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
	}

	to {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@keyframes move-store-shelf {
	from {
		transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
	}

	to {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes move-general {
	from {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
	}

	to {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@keyframes move-general {
	from {
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
	}

	to {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes pulse {
	from {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		opacity: 0.85;
	}

	to {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		opacity: 0.85;
	}

	to {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes opacity {
	from {
		opacity: 0;
	}

	50% {
		opacity: 0.65;
	}

	to {
		opacity: 1;
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	50% {
		opacity: 0.65;
	}

	to {
		opacity: 1;
	}
}
